@media (max-width: 644px) {
  .Wrapper {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.Container {
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin: 3px 0;
  font-size: 0.8em;
  outline: none;
}

.Button {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 135px;
  cursor: pointer;
  color: inherit;
  appearance: none;
  user-select: auto;
  text-align: left;
  text-decoration: none;
  background: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 14px;
  outline: none;
}

.Show {
  animation: show-fade-in ease 500ms
}

.Hide {
  animation: hide-fade-in ease 500ms
}

@keyframes show-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}