.TextAreaElement {
  padding-top: 18px;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 68px;
  resize: vertical;
}

/* Firefox */

.TextAreaElement:invalid {
  box-shadow: none;
}

.TextAreaElement:-moz-submit-invalid {
  box-shadow: none;
}

.TextAreaElement:-moz-ui-invalid {
  box-shadow:none;
}