.TextAreaElement {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 24px;
  /* margin-bottom: -24px; */
  width: 100%;
  height: auto;
  min-height: 78px;
  resize: vertical;
  overflow: hidden;
  box-sizing: border-box;
}

.Length {
  color: inherit;
  opacity: 0.33;
  font-weight: 600;
  position: absolute;
  bottom: 4px;
  right: 12px;
}

/* Firefox */

.TextAreaElement:invalid {
  box-shadow: none;
}

.TextAreaElement:-moz-submit-invalid {
  box-shadow: none;
}

.TextAreaElement:-moz-ui-invalid {
  box-shadow:none;
}