/* 
-------------------
------WRAPPER------
-------------------
*/

.Wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  /* Fieldset */
  border: none;
  outline: none;
}

.Aesthetics {
  margin: 0;
  padding: 0 0 9px;
}

.TextAreaInput {
  min-height: 68px;
  height: auto;
}

/* 
-----------------
------LABEL------
-----------------
*/

.Label {
  text-transform: uppercase;
  color: var(--input-label-color, #A4A4A4); 
  font-weight: 600;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 150ms ease-in-out all; 
}

.Wrapper input:focus ~ .Label, .Wrapper input:hover ~ .Label, .ActiveLabel {
  top: 9px;
  left: 6px;
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TextArea */

.TextAreaLabel {
  top: 24px;
  transform: translateY(0px);
}

.Wrapper textarea:focus ~ .TextAreaLabel, .Wrapper textarea:hover ~ .TextAreaLabel, .TextAreaLabel.ActiveLabel {
  top: 4px;
  left: 6px;
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
-----------------
------INPUT------
-----------------
*/

.Container {
  position: relative;
  width: 100%;
}

.InputElement {
  display: block;
  width: 100%;
  height: 48px;
  font: inherit;
  font-size: 17px;
  border: 1px solid var(--input-border-color, #EBEBEB);
  border-radius: var(--input-border-radius, 4px);
  background-color: var(--input-background-color, #FAFBFC);
  padding: 12px 36px 0 12px;
  padding-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  box-sizing: border-box;
  transition: all 250ms ease;
  /* Disabling iOS and other native CSS. */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.InputElement:hover, .InputElement:focus {
  background-color: var(--input-focused-color, #FFF);
}

.InputElement:focus {
  outline: none;
  border-color: var(--my-highlight-color, #1EA3CC );
}

input.InputElement::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
}

input.InputElement::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
}

input.InputElement:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
}

input.InputElement:-moz-placeholder { /* Firefox 18- */
  color: transparent;
}

/* Firefox */

.InputElement:invalid {
  box-shadow: none;
}

.InputElement:-moz-submit-invalid {
  box-shadow: none;
}

.InputElement:-moz-ui-invalid {
  box-shadow:none;
}

/* 
------------------
------BORDER------
------------------
*/

.Bar  { 
  position: relative; 
  display: block; 
  width: 100%; 
}

.Bar:before, .Bar:after   {
  content: '';
  height: 1.5px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: var(--my-highlight-color, #1EA3CC );
  transition: 0.2s ease all;
}
.Bar:before {
  left: 50%;
}
.Bar:after {
  right: 50%; 
}

.Wrapper input:focus ~ .Bar:before, .Wrapper input:focus ~ .Bar:after {
  width: calc(50% - 4px);
}

/* TextArea */

.Wrapper textarea ~ .Bar:before, .Wrapper textarea ~ .Bar:after   {
  content: '';
  bottom: -0.5px;
}

.Wrapper textarea:focus ~ .Bar:before, .Wrapper textarea:focus ~ .Bar:after {
  width: calc(50% - 4px);
}

/* 
--------------------
------VALIDITY------
--------------------
*/

/* Input borders */
.Invalid {
  border-color: var(--input-invalid-color, #DC3545) !important;
}

.Valid {
  border-color: var(--input-valid-color, #28A745) !important;
}

/* Bar */
.Valid ~ .Bar::after, .Valid ~ .Bar::before {
  background: var(--input-valid-color, #28A745);
}

.Invalid ~ .Bar::after, .Invalid ~ .Bar::before {
  background: var(--input-invalid-color, #DC3545);
}

/* Feedback */
.Feedback {
  display: block;
  float: right;
  font-size: 0.8em;
  color: var(--input-invalid-color, #DC3545);
  text-align: right;
  max-height: 0px;
  transition: all 300ms ease;
  transform-origin: left top;
}

.Feedback::first-letter {
  text-transform: capitalize;
}

.InvalidFeedback {
  margin: 3px 0;
  color: var(--input-invalid-color, #DC3545);
  animation: slide-in ease forwards 300ms;
  max-height: 1000px;
}

.ValidFeedback {
  margin: 0;
  animation: slide-out ease forwards 300ms;
}

@keyframes slide-in {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}