.Wrapper {
  /* Fieldset */
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* Disabled */

.Input:disabled ~ .Label {
  cursor: not-allowed !important;
  opacity: 0.8 !important;
}

.Input:disabled ~ .Label .Body {
  background-color: var(--my-background-color) !important;
}

/**
* -------------------
* -------INPUT-------
* -------------------
*/

/* Customize the label */
.Label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Label.Aesthetics {
  margin: 4px 0;
  font-size: 16px;
}

/* Hide the browser's default checkbox */
.Input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
}

/**
* -------------------
* -------LABEL-------
* -------------------
*/

.Body {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 9px; */
  margin: 0 9px 0 18px;
  position: relative;
  background-color: var(--my-background-color);
  transition: background-color ease var(--my-animation-duration);
}

.Box,
.Radio {
  height: 16px;
  width: 16px;
}

.Box {
  /* Aesthetics */
  border: 1px solid inherit;
  border-radius: 2px;
}

.Radio {
  border-radius: 50%;
  /* Aesthetics */
  border: 1px solid inherit;
}

.Input:checked ~ .Label .Body {
  background-color: var(--my-highlighted-background-color) !important;
}

.Label:hover .Body {
  background-color: var(--my-hovered-background-color);
}

/**
* --------------------
* -------BUBBLE-------
* --------------------
*/

.Bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 9px 0;
  width: 100%;
  color: inherit;
  background-color: var(--my-background-color);
  border: 1px solid var(--my-background-color);
  border-radius: 12px;
  transition: all ease var(--my-animation-duration);
}

.Label:hover .Bubble {
  background-color: var(--my-hovered-background-color);
}

.Input:checked ~ .Label .Bubble {
  background-color: var(--my-highlighted-background-color);
  color: var(--my-icon-color);
}

/**
* -------------------
* -------ICONS-------
* -------------------
*/

.Icon {
  position: absolute;
  opacity: 0;
  color: var(--my-icon-color);
  transition: all ease var(--my-animation-duration);
}

.Input:checked ~ .Label .Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}


/* Circle */

.Circle {
  width: 0.7em;
  height: 0.7em;
  background-color: currentColor;
  border-radius: 50%;
}

/**
* ------------------------
* -------ANIMATIONS-------
* ------------------------
*/

/* Pop */

.Input:checked ~ .Label .Icon.Pop {
  opacity: 1;
  transform: translate(0, 0) rotate(0) scale(1);
}

.Icon.Pop {
  opacity: 0;
  transform: translate(1px, 2px) rotate(30deg) scale(1.2);
}

/* Zoom */

.Input:checked ~ .Label .Icon.Zoom {
  opacity: 1;
  transform: scale(1);
}

.Icon.Zoom {
  opacity: 0;
  transform: scale(1.2);
}
