.Wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  /* Fieldset */
  margin: 0;
  padding: 0 0 9px;
  border: 0;
  /* Aesthetics */
  color: inherit;
  /* Fallback */
  border-radius: 4px;
  background-color: transparent;
  /* Programmatically */
  border-radius: var(--input-border-radius);
}

.Container {
  display: table;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  transition: box-shadow 250ms ease-in, border 0.2s ease;
  /* Aesthetics */
  color: inherit;
  border-radius: inherit;
  background-color: #FAFBFC;
  /* Programmatically */
  background-color: var(--input-background-color);
}

.Wrapper:focus-within .Container {
  background-color: var(--input-focused-color);
}

.Wrapper:focus-within .List.Open {
  background-color: var(--input-focused-color);
}

/* 
-----------------
------INPUT------
-----------------
*/

.Input {
  position: relative;
  display: table-cell;
  width: 100%;
  border-radius: inherit;
  box-sizing: border-box;
  cursor: pointer;
  color: inherit;
  vertical-align: middle;
  /* Button style */
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

@supports (-ms-ime-align:auto) {
  .Input {
    width: auto;
  }
}

.Select {
  display: block;
  width: 100%;
  height: 48px;
  font: inherit;
  font-size: 17px;
  pointer-events:none;
  color: inherit;
  border: 1px solid #EBEBEB;
  border-right: 0;
  border-radius: inherit;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: inherit;
  padding: 12px 10px 36px;
  padding-bottom: 0;
  box-sizing: border-box;
  /* transition: all 250ms ease; */
  cursor: pointer;
  outline: none;
  /* Disabling iOS and other native CSS. */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Wrapper.Open .Select {
  border-color: var(--my-highlight-color);
}

/* 
-----------------
------LABEL------
-----------------
*/

.Label {
  text-transform: uppercase;
  color: #a4a4a4; 
  font-weight: 600;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 250ms ease-in-out all; 
}

@media (min-width: 1025px) {
  .Wrapper:hover .Label {
    top: 9px;
    left: 6px;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Wrapper.Open .Label,
.ActiveLabel {
  top: 9px;
  left: 6px;
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
-----------------
------ARROW------
-----------------
*/

.Button {
  display: table-cell;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  background-color: inherit;
  color: inherit;
  transition: all 250ms ease, background-color 0ms ease;
  /* Button properties */
  outline: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #EBEBEB;
  border-radius: inherit;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.Button::-moz-focus-inner {
  border: 0;
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.Arrow {
  position: relative;
  width: 100%;
  color: inherit;
}

.Arrow::before,
.Arrow::after {
  display: block;
  position: absolute;
  border-color: inherit;
  content: '';
  transition: transform ease 250ms;
  width: 100%;
}

.Arrow::before {
  border-top: 2px solid;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 24px;
  transform: rotate(135deg) translate(3px, 6px);
  -moz-transform: rotate(135deg) translate(3px, 6px);
}

.Arrow::after {
  border-top: 2px solid;
  border-top-right-radius: 12px;
  border-top-left-radius: 24px;
  transform: rotate(45deg) translate(3px, -6px);
  -moz-transform: rotate(45deg) translate(3px, -6px);
}

.Wrapper.Open .Button {
  color: var(--my-icon-color);
  background-color: var(--my-highlight-color);
  border-color: var(--my-highlight-color);
}

.Wrapper.Open .Arrow::before {
  transform: rotate(-45deg) translate(3px, 6px) scaleY(-1);
  -moz-transform: rotate(-45deg) translate(3px, 6px) scaleY(-1);
}

.Wrapper.Open .Arrow::after {
  transform: rotate(225deg) translate(3px, -6px) scaleY(-1);
  -moz-transform: rotate(225deg) translate(3px, -6px) scaleY(-1);
}

/* 
----------------
------LIST------
----------------
*/

.List {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
  z-index: 5;
  transition: all ease 250ms;
  border: 0;
  opacity: 0;
  /* List style */
  margin: 0;
  padding: 0;
  opacity: 0;
  /* Aesthetics */
  color: inherit;
  border-radius: inherit;
  /* Programmatically */
  background-color: var(--input-background-color);
}

.Wrapper .List.Open {
  height: auto;
  min-height: 68px;
  max-height: 50vh;
  border: 1px solid var(--my-highlight-color);
  opacity: 1;
  margin: 0 0 18px;
  padding: 8px 8px 8px 12px;
}

.Wrapper .List.Open:hover {
  overflow: auto !important;
}

.List li {
  display: block;
  width: 100%;
  height: 100%;
  transform: all ease 250ms;
}

.Wrapper .List li:hover {
  box-shadow: 0px 1px 0px var(--my-highlight-color);
}

.List button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 18px 12px;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  text-align: left;
  /* Button style */
  background-color: inherit;
  color: inherit;
  outline: 0;
  border: 0;
}
